/* W3.CSS 2.2 by Jan Egil and Borge Refsnes. Do not remove this line. */
/* http://www.w3schools.com/cssref/sel_all.asp */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
	/* http://www.w3schools.com/cssref/css3_pr_box-sizing.asp
	   include padding in width and height
	 */
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust 
	   for displaying text properly in smartphones 
	   
	   WEBKIT - https://en.wikipedia.org/wiki/WebKit
	*/
}

/* End extract from normalize.css */
html, body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5 /* similar to line spacing in ms word http://www.w3schools.com/cssref/pr_dim_line-height.asp */
}



body {
	margin: 0 
	/* http://www.w3schools.com/css/css_margin.asp */
	/* http://www.w3schools.com/css/css_padding.asp */
}

img {
	border: 0;
	margin-bottom: -5px
}

a {
	-webkit-tap-highlight-color: transparent; 
	/* for mobile devices, can use mobile emulator in chrome to test
	   https://developer.mozilla.org/en/docs/Web/CSS/-webkit-tap-highlight-color
	   https://developer.apple.com/library/mac/documentation/AppleApplications/Reference/SafariWebContent/AdjustingtheTextSize/AdjustingtheTextSize.html#//apple_ref/doc/uid/TP40006510-SW5	    
	 */
	background-color: transparent;
	color: inherit
}

a:active, a:hover { /* http://www.w3schools.com/cssref/sel_active.asp */
	outline: 0 /* http://www.w3schools.com/css/css_outline.asp */
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit /* http://htmldog.com/references/css/properties/font-weight/ http://www.w3schools.com/cssref/css_inherit.asp*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Arial, sans-serif; /* http://www.w3schools.com/cssref/pr_font_font-family.asp */
	font-weight: 400;
	margin: 10px 0 /* top right http://www.w3schools.com/css/css_margin.asp */
}

h2 {
	font-size: 30px /* http://www.w3schools.com/cssref/pr_font_font-size.asp */
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

footer { /* http://www.w3schools.com/tags/tag_footer.asp */
	display: block /* display like a p, newline http://www.w3schools.com/cssref/pr_class_display.asp */
}

select { /* http://www.w3schools.com/tags/tag_select.asp */
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none /* uppercase etc http://www.w3schools.com/cssref/pr_text_text-transform.asp */
}

input { /* http://www.w3schools.com/tags/tag_input.asp */
	color: inherit;
	font: inherit;
	margin: 0
}

/* 
    http://www.w3schools.com/css/css_form.asp
     input[type=text] - will only select text fields
     input[type=password] - will only select password fields
     input[type=number] - will only select number fields 
    http://stackoverflow.com/questions/2636379/css-selectors-versus-space
     A > B will only select B that are direct children to A (that is, there are no other elements inbetween).
     A B will select any B that are inside A, even if there are other elements between them.
 */
html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button; /* https://css-tricks.com/almanac/properties/a/appearance/ https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance */
	cursor: pointer /* http://stackoverflow.com/questions/7339333/styling-text-input-caret */
}

html input[disabled] {
	cursor: default
}

input::-moz-focus-inner {/* https://www.w3.org/community/webed/wiki/Advanced_CSS_selectors#CSS3_pseudo-element_double_colon_syntax  https://css-tricks.com/forums/topic/button-padding-issue/ */
	border: 0;
	padding: 0
}

input[type=checkbox], input[type=radio] {
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{ /* https://css-tricks.com/snippets/css/turn-off-number-input-spinners/ */
	height: auto
}

button {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	cursor: pointer
}


button[disabled] {
	cursor: default
}

button::-moz-focus-inner { /* for consistency https://css-tricks.com/forums/topic/button-padding-issue/ */
	border: 0;
	padding: 0
}

textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

textarea {
	overflow: auto /* for auto hide scroll bar https://css-tricks.com/textarea-tricks/ */
}

b {
	font-weight: bold
}






.w3-light-grey {
	color: #000 !important; /* important = property won't be changed https://css-tricks.com/when-using-important-is-the-right-choice/ */
	background-color: #f1f1f1 !important
}

.w3-container {
	padding: 0.01em 16px /* http://www.w3schools.com/cssref/css_units.asp */
}

/* 
http://www.w3schools.com/cssref/sel_after.asp
http://colintoh.com/blog/display-table-anti-hero
http://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp
*/
.w3-container:after {
	content: ""; /* http://www.w3schools.com/cssref/pr_gen_content.asp */
	display: table; /* behave like a table http://www.w3schools.com/cssref/pr_class_display.asp */
	clear: both /* No floating elements allowed on either the left or the right side http://www.w3schools.com/cssref/tryit.asp?filename=trycss_class-clear */
}

.w3-padding-64 {
	padding-top: 64px !important;
	padding-bottom: 64px !important
}

.w3-center {
	text-align: center !important
}

/* 
https://css-tricks.com/multiple-class-id-selectors/
http://webdesign.about.com/od/cssselectors/f/comma-in-css-selectors.htm 
*/

.w3-topnav {
	padding: 8px 8px
}

.w3-topnav a {
	text-decoration: none !important; /* underline etc http://www.w3schools.com/cssref/pr_text_text-decoration.asp */
	padding: 0 8px;
	border-bottom: 3px solid transparent; /* http://www.w3schools.com/css/css_border.asp */
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease /* all effect changes transition 0.3 secs http://www.w3schools.com/css/css3_transitions.asp */
}

.w3-topnav a:hover {
	border-bottom: 3px solid #fff /* white underline when you hover */
}

.w3-topnav:after {
	content: "";
	display: table;
	clear: both
}

/* Change the background-color if the viewport is 601 pixels wide or lower http://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media screen and (max-width:601px) {
	.w3-topnav a {
		display: block /* when screen is small, hyperlinks act like  p tag, newline */
	}
}

@media screen and (max-width:601px) {
	.w3-topnav {
		text-align: center
	}
}

.w3-large { /* font size for nav bar etc */
	font-size: 18px !important
}

.w3-dark-grey { /* colors for nav bar etc */
	color: #fff !important;
	background-color: #616161 !important
}

.w3-margin {
	margin: 16px !important
}

.w3-margin-bottom {
	margin-bottom: 16px !important
}


/* http://techbrij.com/css-selector-adjacent-child-sibling */
.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third,
	.w3-row-padding>.w3-twothird, .w3-row-padding>.w3-quarter,
	.w3-row-padding>.w3-col {
	padding: 0 8px
}

/* http://www.w3schools.com/w3css/w3css_responsive.asp */
.w3-col {
	float: left; /* enables to be side by side */
	width: 100%  /* 100 as default for small screens */
}

@media only screen and (min-width:601px) { /* divide width by 12 */
	.w3-col.m1 {
		width: 8.33333%
	}
	.w3-col.m2 {
		width: 16.66666%
	}
	.w3-col.m3 {
		width: 24.99999%
	}
	.w3-col.m4 {
		width: 33.33333%
	}
	.w3-col.m5 {
		width: 41.66666%
	}
	.w3-col.m6 {
		width: 49.99999%
	}
	.w3-col.m7 {
		width: 58.33333%
	}
	.w3-col.m8 {
		width: 66.66666%
	}
	.w3-col.m9 {
		width: 74.99999%
	}
	.w3-col.m10 {
		width: 83.33333%
	}
	.w3-col.m11 {
		width: 91.66666%
	}
	.w3-col.m12 {
		width: 99.99999%
	}
}

/* http://www.w3schools.com/w3css/w3css_responsive.asp */
.w3-third {
	float: left; /* enables to be side by side */
	width: 100% /* 100 as default for small screens */
}

/* http://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
@media only screen and (min-width:601px) { /* divide width by 3 */
	.w3-third {
		width: 33.33333%
	}
}

@media only screen and (min-width:993px) {
	.w3-third {
		width: 33.33333%
	}
}

.w3-twothird {
	float: left;
	width: 100%
}

@media only screen and (min-width:601px) {
	.w3-twothird {
		width: 66.66666%
	}
}

@media only screen and (min-width:993px) {
	.w3-twothird {
		width: 66.66666%
	}
}


.w3-card-2 {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 
		rgba(0, 0, 0, 0.12) !important
		/* card double shadow grey effect 
		   http://www.w3schools.com/cssref/css3_pr_box-shadow.asp  
		   http://stackoverflow.com/questions/8556604/is-there-a-way-to-use-two-css3-box-shadows-on-one-element
		 */
}

.w3-padding {
	padding: 8px 16px !important
}

/* http://www.w3schools.com/bootstrap/bootstrap_images.asp */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.w3-row:after, .w3-row-padding:after {
	content: "";
	display: table;
	clear: both
}


/* http://stackoverflow.com/questions/7369216/how-do-you-read-important-in-css */
.w3-left-align {
	text-align: left !important
}

.w3-round {
	border-radius: 4px !important /*http://www.w3schools.com/cssref/playit.asp?filename=playcss_border-radius*/
}

.w3-white {
	color: #000 !important;
	background-color: #fff !important
}

.w3-right-align {
	text-align: right !important
}

.w3-btn {
	border: none;
	display: inline-block; /* inside like p outside like span http://www.w3schools.com/cssref/pr_class_display.asp */
	outline: 0; /* outline outside border http://www.w3schools.com/cssref/tryit.asp?filename=trycss_outline */
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none !important;
	color: #fff;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.w3-btn.w3-disabled, .w3-btn:disabled {
	cursor: not-allowed;
	opacity: 0.3
}

/* http://www.w3schools.com/cssref/sel_all.asp */
.w3-btn.w3-disabled *, .w3-btn:disabled * {
	pointer-events: none
}

.w3-btn.w3-disabled:hover, .w3-btn:disabled:hover {
	box-shadow: none
}

.w3-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19)
}

/* http://www.w3schools.com/css/css3_transitions.asp */
.w3-btn {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease
}

.w3-btn.w3-ripple {
	position: relative
}



/* 
http://www.w3schools.com/css/css_padding.asp 
http://stackoverflow.com/questions/4459821/css-selector-what-is-it
*/
.w3-row-padding>.w3-twothird {
	padding: 0 8px
}

.w3-content {
	max-width: 980px;
	margin: auto
}

.w3-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #808080;
	width: 100%
}

/*
http://www.w3schools.com/cssref/sel_not.asp
https://css-tricks.com/almanac/selectors/v/valid/
http://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean
*/
.w3-input:not (:valid )~.w3-validate {
	color: #f44336
}

.w3-border {
	border: 1px solid #ccc !important
}

.w3-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px
}

@media ( max-width :601px) {
	.w3-modal-content {
		margin: 50px 10px 10px 10px;
		width: auto !important
	}
}

@media ( max-width :768px) {
	.w3-modal-content {
		width: 500px
	}
}

@media ( min-width :992px) {
	.w3-modal-content {
		width: 900px
	}
}

/*
http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
http://stackoverflow.com/questions/8820565/which-css-properties-allow-comma-separated-values
https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
*/
.w3-card-8 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19) !important
}

.w3-animate-zoom {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

.w3-circle {
	border-radius: 50% !important
}

.w3-margin-top {
	margin-top: 16px !important
}

.w3-section {
	margin-top: 16px;
	margin-bottom: 16px
}

.w3-btn-block {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none !important;
	color: #fff;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}

.w3-btn-block.w3-disabled {
	cursor: not-allowed;
	opacity: 0.3
}

.w3-btn-block.w3-disabled {
	pointer-events: none
}

.w3-btn-block.w3-disabled:hover	{
	box-shadow: none
}

.w3-btn-block:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19)
}

.w3-btn-block {
	width: 100%
}

/*
http://www.w3schools.com/cssref/sel_all.asp
*/
